*{
    margin: 0;
    padding: 0;
}
body{
    min-width: 320px;
    max-width: 1440px;
    margin: 0 auto;
}
#navbar{
    width: 100%;
    height: 50px;
    position: fixed;
    text-align: right;
    background-color: silver;
    box-shadow: 0 4px 10px 2px grey;
    top: 0;
    left: 0;
}
#navbar p{
    margin-right: 50px;
    line-height: 50px;
}
#header{
    height: 200px;
    margin: 80px auto 30px;
    text-align: center;
    font-size: 20px;

}
#header input{
    all: unset;
    height: 30px;
    width: 200px;
    padding-left: 15px;
    border-radius: 15px;
    text-align: left;
    color: blue;
    border: 2px solid orange;
}
#header input::placeholder{
    color: blue;
}
#container ul{
    font-size: 0;
    overflow: hidden;
    width: 80%;
    margin: 0 auto;
    list-style: none;
}
#container ul li{
    width: calc(100% / 3 - 10px);
    height: 40vw;
    margin: 5px;
    float: left;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    box-shadow: 0 5px 5px gray;
}
#container ul li:hover{
    transform: scale(1.2);
    opacity: 0.8;
}
#container ul li img{
    width: 100%;
    height: 90%;
}
#container ul li p{
    font-size: 2.5vw;
    line-height: 4vw;
    text-align: center;
    color: white;
    background-color: brown;
}
@media (max-width:1023px) {
    #container ul li{
        width: calc(100% / 3 - 10px);
        height: 40vw;
    }
    #container ul li p{
        font-size: 2.5vw;
        line-height: 4vw;
    }
}
@media (max-width:767px) {
    #header{
        font-size: 18px;
        margin: 70px auto 0;
    }
    #container ul{
        width: 100%;
    }
    #container ul li{
        width: calc(100% / 3 - 10px);
        height: 50vw;
    }
    #container ul li p{
        font-size: 3vw;
        line-height: 5vw;
    }
}
@media (max-width:479px) {
    #navbar{
        height: 40px;
    }
    #header{
        height: 170px;
        font-size: 16px;
    }
    #container ul li{
        width: calc(100% / 2 - 10px);
        height: 80vw;
    }
    #container ul li p{
        font-size: 5vw;
        line-height: 8vw;
    }
}
