* {
  margin: 0;
  padding: 0;
}

html {
  cursor: none;
}

body {
  min-width: 320px;
  max-width: 1440px;
  margin: 0 auto;
  text-align: center;
  color: black;
  background-color: white;
}

#sidebar {
  width: 30%;
  left: 0px;
  height: 100vh;
  position: absolute;
  top: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.7s ease-in-out;
  transition: all 0.7s ease-in-out;
}

#sidebar.hidden {
  left: -30%;
}

#sidebar .menu {
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background-color: peru;
  font-size: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: lightgoldenrodyellow;
  border-bottom: 1px solid lightgoldenrodyellow;
}

#sidebar .menu:hover {
  color: peru;
  background-color: lightgoldenrodyellow;
}

.hidden {
  display: none;
  visibility: hidden;
}

#dev-option {
  width: 100px;
  height: 70px;
  position: fixed;
  bottom: 30px;
  right: 20px;
  border: 1px black solid;
}

#dev-option > .toggle {
  margin-top: 3px;
  margin-right: 3px;
  margin-left: auto;
  width: 40px;
  height: 20px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 10px;
  background-color: black;
}

#dev-option > .toggle > button {
  all: unset;
  width: 14px;
  height: 14px;
  /* 30px */
  margin-left: 3px;
  border-radius: 50%;
  background-color: white;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
}

#dev-option > .toggle > button:hover {
  cursor: pointer;
}

#dev-option > .toggle > button:active {
  background-color: red;
}

.loadingScreen {
  width: 100%;
  height: 90%;
  background-color: black;
}

.loadingScreen > div {
  width: 100%;
  height: 100%;
  font-size: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
}

.loadingScreen > div > div {
  margin-top: 10%;
  width: 80%;
  height: 8%;
  border: 2px solid white;
  padding: 5px;
}

.loadingScreen > div > div > div {
  width: 100%;
  height: 100%;
  background-color: white;
}

#cursor {
  pointer-events: none;
  z-index: 1;
  width: 50px;
  height: 50px;
  position: fixed;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-image: url("./src/snowman.png");
  background-repeat: no-repeat;
  background-size: cover;
}

#navbar {
  width: 100%;
  height: 50px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: silver;
  -webkit-box-shadow: 0 4px 10px 2px grey;
          box-shadow: 0 4px 10px 2px grey;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

#navbar > div:nth-of-type(1) {
  width: 32px;
  height: 32px;
  margin-left: 10px;
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
}

#navbar > div:nth-of-type(1):hover {
  cursor: pointer;
}

#navbar > div:nth-of-type(1) > div {
  width: 32px;
  height: 8px;
  background-color: black;
}

#navbar > div:nth-of-type(2) {
  margin-right: 3%;
  width: 90px;
  height: 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 18px;
  background-color: aqua;
}

#navbar > div:nth-of-type(2) > div {
  width: calc(100% / 3);
  /* 30px */
  height: calc(500% / 6);
  /* 30px */
  margin-left: calc(100% / 15);
  /* 6px */
  padding: 0;
  border-radius: 50%;
  background-color: white;
  -webkit-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

#navbar > div:nth-of-type(2) > div:hover {
  cursor: pointer;
}

#navbar > div:nth-of-type(3) {
  width: 40px;
  height: 40px;
  margin-right: 8%;
  border-radius: 20px;
  background-image: url("src/puz7.gif");
}

#navbar > div:nth-of-type(3):hover {
  cursor: pointer;
}

#header {
  height: 200px;
  margin: 80px auto 20px;
  font-size: 20px;
}

#header > input {
  all: unset;
  height: 30px;
  width: 200px;
  padding-left: 15px;
  border-radius: 15px;
  text-align: left;
  color: blue;
  border: 2px solid orange;
}

#header > input::-webkit-input-placeholder {
  color: blue;
}

#header > input:-ms-input-placeholder {
  color: blue;
}

#header > input::-ms-input-placeholder {
  color: blue;
}

#header > input::placeholder {
  color: blue;
}

#container > ul {
  font-size: 0;
  /* to make defalut margins zero in list */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#container > ul > li {
  width: 300px;
  height: 480px;
  margin: 10px;
}

#container > ul > li:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  opacity: 0.8;
}

#container > ul > li > img {
  width: 100%;
  height: 90%;
}

#container > ul > li > p {
  font-size: 35px;
  line-height: 48px;
  color: white;
  background-color: brown;
}

#modal {
  max-height: 70%;
  padding: 10px;
  position: fixed;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: gray;
}

#modal > #modheader {
  height: 80px;
  line-height: 80px;
  background: green;
}

#modal > #modbody {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin: 10px 0;
  background-color: yellow;
  overflow: auto;
}

#modal > #modbody > p {
  margin: 10px;
  font-size: 20px;
  background-color: yellowgreen;
}

#modal > #modfooter {
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: red;
}

#modal > #modfooter > div {
  height: 40px;
  line-height: 40px;
  width: 50px;
  margin: 5px;
  background-color: cadetblue;
  border-radius: 25%;
}

#modal > #modfooter > div:hover {
  cursor: pointer;
}

@media (max-width: 767px) {
  #header {
    font-size: 18px;
    margin: 70px auto 0;
  }
}

@media (max-width: 479px) {
  #navbar {
    height: 40px;
  }
  #navbar > div:nth-of-type(2) {
    width: 60px;
    height: 28.8px;
    border-radius: 14.4px;
  }
  #navbar > div:nth-of-type(3) {
    width: 32px;
    height: 32px;
  }
  #header {
    height: 170px;
    font-size: 16px;
  }
  #modal {
    width: 80%;
  }
  #modal > #modbody > p {
    font-size: 15px;
  }
}
